.comment-box {
    padding-top: 1.75rem;
}

.comment-count {
    font-size: 1.2rem;
    font-weight: 400;
    font-stretch: ultra-condensed;
    padding-bottom: 1.5rem;
}

.comment-form-div {
    display: flex;
    // align-items: center;
    svg {
        cursor: default;
    }
    .vid-index-prof {
        cursor: default;
    }
}

.comment-form-body {
    padding-bottom: 10px;
}

.comment-form {
    padding-left: 0.8rem;
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 3.5rem;
    .border-underline {
        transition: all 100ms linear;
        width: 0px;
        position: absolute;
        left: 50%;
        bottom: 0;
        border-bottom: 2px solid black;
        margin: 0;
    }
    .active-input {
        border-bottom: 3px solid black;
    }
    .comment-form-input {
        border: none;
        border-bottom: 1px solid rgb(154, 154, 154);
        grid-row: 1;
        width: 100%;

        &:focus {
            outline: none;
            transition: ease-out all;
            border-bottom: 2px solid rgb(0, 0, 0);
            // .border-underline {
            //     width: 100%;
            //     margin-left: -50px;
            //     height: 3px;
            // }
        }
    }
    .comment-form-submit {
        justify-self: flex-end;
        align-self: center;
        width: 6.4rem;
        height: 2rem;
        background-color: rgb(71, 71, 225);
        color: white;
        border-style: none;
        font-size: 13px;
        font-stretch: extra-condensed;
        letter-spacing: 0.5px;
        font-weight: 300;
        border-radius: 1px;
        cursor: pointer;
        &:active {
            outline: blue;
        }
        &.empty {
            background-color: rgb(234, 234, 234);
            color: gray;
            cursor: default;
        }
    }
}

.comments-display-box {
    padding-top: 2rem;
    .single-comment-display {
        display: flex;
        height: 5rem;
        overflow-y: hidden;
        button {
            display: none;
            width: 5rem;
            height: 2rem;
            font-size: 10px;
            border: none;
            border-radius: 2px;
            background-color: rgb(205, 205, 205);
        }
        .dropbtn {
            display: none;
            justify-self: flex-end;
            // position: absolute;
            // right: 30%;
        }
        &:hover button {
            display: block;
            &:hover { 
                background-color: rgb(206, 66, 63);
                color: white;
            }
        }
        &:focus .dropbtn {
            display: block;
        }
        .dropdown-content {
            display: none;
            &.show {
                display: block;
                p {
                    display: block;
                }
            }
        }
        .single-comment-main {
            padding-left: 0.8rem;
            padding-top: 0.3rem;
            width: 80%;
            span {
                font-size: 0.9rem;
                font-weight: 400;
            }

            p { 
                padding-top: 0.5rem;
                font-size: 0.75rem;
                font-weight: 300;
            }
        }
    }
}