.header {
    border: 1px lightgrey solid;
    display: grid;
    grid-template-columns: 5rem 15% auto 5rem 15%;
    align-items: center;
    height: 4rem;
    width: 100vw;
    // padding-left: 10px;
    padding-right: 10px;
    // overflow: visible;
    position: fixed;
    background-color: white;
}



.header-link {
    text-decoration: none;
    grid-column: 2;
    justify-self: start;
}

.header-group {
    justify-self: flex-end;
    grid-column: 5;
    padding-right: 2rem;
    display: flex;
    width: 40%;
    // padding-right: 2rem;
    justify-content: flex-end;
}

.create-video {
    padding-top: 1px;
    padding-right: 1rem;
}

.login-signup, .header-button {
    border: 1px rgb(21, 105, 215) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-end;
    margin-right: 2rem;
    width: 6rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 2.5rem;
    border-radius: 2px;
    // margin: 0px, 10%, 0px, 0px;
    .vid-index-prof {
        margin-top: 0px;
        width: 25px;
        height: 25px;
        background-color: rgb(21, 105, 215);
        svg {
            padding-bottom: 2px;
        }
    }
    a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        color: rgb(21, 105, 215);
        font-stretch: ultra-condensed;
        letter-spacing: 0.5px;
    }
    background-color: white;
    cursor: pointer;
    grid-column: 5
}

#signin-topright {
    a, a:visited {
      color: rgb(26, 115, 232);
    }
}

a {
    text-decoration: none;
}

a, a:visited{
     color: black;
}

hgroup .dropbtn {
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: yellowgreen;
    // border: 2px solid #666;
    cursor: pointer;
    color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a, .dropdown-content h2 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
//   display: flex;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.dropdown .dropbtn {
    outline: none;
    border: none;
}

.dropdown-item {
    display: grid;
    grid-template-columns: 30% auto;
}

.search-bar {
    grid-column: 3;
    justify-self: center;
    border: 0.5px solid lightgray;
    border-radius: 2px;
    .search-dropdown-content {
        display: none;
        opacity: 0;
        position: absolute;
        text-align: center;
        background-color: rgba(62, 62, 62, 0.647);
        width: 50px;
        padding-right: 2px;
        margin-top: 40px;
        left: 50%;
        transform: translateX(-50%);
        //   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: opacity 1s ease-in;
    }
    input {
        width: 30vw;
        height: 2rem;
        // border-color: lightgray;
        border-width: 0.5px;
        border-radius: 3px;
        border: none;
        // box-shadow: inset 0.1px 0.1px 0.1px 0px rgb(101, 101, 101);
        // background-color: white;
        &:focus {
            outline: none;
        }
    }
    button {
        height: 2.3rem;
        width: 4rem;
        // border-color: lightgray;
        border-width: 0.5px;
        background-color: rgb(244, 244, 244);
        // border-radius: 3px;
        border-left: 0.5px solid lightgray;
        position: relative;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: rgb(227, 227, 227);
           svg {
            color:rgb(69, 69, 69)
        } 
        }
        svg {
            color:rgb(111, 111, 111)
        }
        border: none;
        cursor: pointer;
    }
}

.sidebar-icon {
    grid-column: 1;
    justify-self: center;
    width: 1.5rem;
    cursor: pointer;
}

.create-dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(62, 62, 62, 0.647);
  width: 50px;
  margin-top: 30px;
  left: 45%;
  transform: translateX(-50%);
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 1s ease-in;
}

.create-dropdown-content span, .search-dropdown-content span {
  color: white;
  padding: 8px;;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.create-dropdown {
    position: relative;
    display: inline-block;
    float: middle;
}

.create-dropdown:hover .create-dropdown-content, .search-button:hover .search-dropdown-content {
    display: block; 
    opacity:100% ;
}