.header {
  border: 1px lightgrey solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem 15% auto 5rem 15%;
      grid-template-columns: 5rem 15% auto 5rem 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 100vw;
  padding-right: 10px;
  position: fixed;
  background-color: white;
}

.header-link {
  text-decoration: none;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.header-group {
  justify-self: flex-end;
  -ms-grid-column: 5;
  grid-column: 5;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-video {
  padding-top: 1px;
  padding-right: 1rem;
}

.login-signup, .header-button {
  border: 1px #1569d7 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  margin-right: 2rem;
  width: 6rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  height: 2.5rem;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  -ms-grid-column: 5;
  grid-column: 5;
}

.login-signup .vid-index-prof, .header-button .vid-index-prof {
  margin-top: 0px;
  width: 25px;
  height: 25px;
  background-color: #1569d7;
}

.login-signup .vid-index-prof svg, .header-button .vid-index-prof svg {
  padding-bottom: 2px;
}

.login-signup a, .header-button a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1569d7;
  font-stretch: ultra-condensed;
  letter-spacing: 0.5px;
}

#signin-topright a, #signin-topright a:visited {
  color: #1a73e8;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: black;
}

hgroup .dropbtn {
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: yellowgreen;
  cursor: pointer;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a, .dropdown-content h2 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown .dropbtn {
  outline: none;
  border: none;
}

.dropdown-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
}

.search-bar {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 0.5px solid lightgray;
  border-radius: 2px;
}

.search-bar .search-dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(62, 62, 62, 0.647);
  width: 50px;
  padding-right: 2px;
  margin-top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.search-bar input {
  width: 30vw;
  height: 2rem;
  border-width: 0.5px;
  border-radius: 3px;
  border: none;
  padding-left: 0.5rem;
  letter-spacing: 1.2px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  height: 2.3rem;
  width: 4rem;
  border-width: 0.5px;
  background-color: #f4f4f4;
  border-left: 0.5px solid lightgray;
  position: relative;
  border: none;
  cursor: pointer;
}

.search-bar button:focus {
  outline: none;
}

.search-bar button:hover {
  background-color: #e3e3e3;
}

.search-bar button:hover svg {
  color: #454545;
}

.search-bar button svg {
  color: #6f6f6f;
}

.sidebar-icon {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 1.5rem;
  cursor: pointer;
}

.create-dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(62, 62, 62, 0.647);
  width: 50px;
  margin-top: 30px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.create-dropdown-content span, .search-dropdown-content span {
  color: white;
  padding: 8px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.create-dropdown {
  position: relative;
  display: inline-block;
  float: middle;
}

.create-dropdown:hover .create-dropdown-content, .search-button:hover .search-dropdown-content {
  display: block;
  opacity: 100%;
}

.logo {
  height: 2rem;
  padding-top: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=header.css.map */