.login-form-container {
    // border: 1px solid black;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.login-form {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    height: 20rem;
    width: 20rem;
}