.login-form-container {
    // border: 1px solid black;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.login-form {
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 10%;
    height: 25rem;
    width: 20rem;
}

.session-form-header {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1px;
}

.session-form-subheader {
    font-weight: 300;
    font-size: 0.85rem;
}

.login-submit, .demo-login {
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color: white;
    height: 36px;
    width: 80px;
    font-size: 12px;
    font-weight: 300;
    button, input {
        font-size: 12px;
        font-weight: 300;
    }
    border-radius: 4px;
    cursor: pointer;
    border-color: white;
    box-shadow: none;
    box-sizing: border-box;
}

.signup-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    .switch-form {
        padding-right: 0px;
    }
    .signup-submit{
        background-color: rgb(26, 115, 232);
        border-radius: 4px;
        color: white;
        height: 36px;
        width: 80px;
        font-size: 12px;
        font-weight: 300;
        
            font-size: 12px;
            font-weight: 300;
        
        border-radius: 4px;
        cursor: pointer;
        border-color: white;
        box-shadow: none;
        box-sizing: border-box;
    }
}

.login-input {
    width: 18rem;
    height:2rem;
    border: 0.5px solid lightgray;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 0.4rem;
    // padding-right: 5rem;
    width: 92%; 
    padding-bottom: 1rem;
}

#dropdown-header {
    border: none;
    background-color: transparent;
    outline: none;
}

.switch-form  {
    padding-right: 15rem;
    a {
        color: rgb(49, 130, 201);
        font-size: 12px;
        font-weight: 400;
    }
}