.video-show-page-whole {
  height: 80vh;
}

.video-show-page-whole .video-show-page {
  padding-top: 3rem;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40rem;
}

.video-show-page-whole .video-show-page .video-show-container {
  padding: 1rem;
  width: 80vw;
  min-width: 20rem;
}

.video-show-page-whole .video-show-page .video-show-container .not-logged-in-error {
  display: none;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid red;
  text-align: center;
  width: 10rem;
  height: 2rem;
  font-size: 10px;
}

.video-show-page-whole .video-show-page .video-show-container .not-logged-in-error.show {
  display: block;
}

.video-show-page-whole .video-show-page .video-show-container .video-delete {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  border-bottom: 2px solid rgba(89, 89, 89, 0.859);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container .positive-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container .negative-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container span {
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: 400px;
  letter-spacing: 0.5px;
  font-stretch: extra-expanded;
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container svg {
  stroke: white;
  fill: rgba(130, 130, 130, 0.859);
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container.liked {
  border-bottom: 2px solid rgba(45, 98, 154, 0.859);
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container .liked {
  color: rgba(45, 98, 154, 0.859);
}

.video-show-page-whole .video-show-page .video-show-container .video-buttons .likes-container .liked svg {
  fill: rgba(45, 98, 154, 0.859);
}

.video-show-page-whole .video-show-page .video-show-container .video {
  width: 100%;
}

.video-show-page-whole .video-show-page .video-show-container .video-info-container {
  height: 4rem;
  padding-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  border-bottom: 0.1px solid rgba(211, 211, 211, 0.859);
}

.video-show-page-whole .video-show-page .video-show-container .video-title {
  font-size: 1rem;
  font-weight: 400;
  font-stretch: extra-expanded;
}

.video-show-page-whole .video-show-page .video-show-container .video-stats {
  padding-top: 1rem;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 0.8rem;
}

.video-description-container {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  border-bottom: 0.1px solid rgba(211, 211, 211, 0.859);
}

.vid-show-prof-info {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.vid-show-prof-info .video-uploader {
  font-size: 0.9rem;
  font-weight: 400;
}

.vid-show-prof-info .vid-desc {
  padding-top: 1.5rem;
  font-size: 0.75rem;
  font-weight: 300;
}
/*# sourceMappingURL=single_video.css.map */