.video-show-page-whole {
    height: 80vh;
    // padding-left: 1rem;
    .video-show-page {
        padding-top: 3rem;
        height: 40vh;
        display: flex;
        min-width: 40rem;
        .video-show-container {
            padding: 1rem;
            width: 80vw;
            min-width: 20rem;
            // height: auto;
            .not-logged-in-error {
                display: none;
                justify-self: center;
                border: 1px solid red;
                text-align: center;
                width: 10rem;
                height: 2rem;
                font-size: 10px;
                &.show {
                    display: block;
                }
            }
            .video-delete {
                grid-row: 1;
                grid-column: 2;
            }

            .video-buttons {
                grid-row: 2;
                grid-column: 2;
                display: flex;
                justify-content: center;
                cursor: pointer;
                .likes-container {
                    justify-self: center;
                    display: flex;
                    // margin-left: 35%;
                    width: 6rem;
                    border-bottom: 2px solid rgba(89, 89, 89, 0.859);
                    justify-content: space-between;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    padding-bottom: 1rem;
                    .positive-likes {
                        display: flex;
                        align-items: center;
                    }
                    .negative-likes {
                        display: flex;
                    }
                    span {
                        font-size: 12px;
                        padding-left: 5px;
                        padding-top: 5px;
                        font-weight: 400px;
                        letter-spacing: 0.5px;
                        font-stretch: extra-expanded;
                    }
                    svg {
                        stroke: white;
                        fill: rgba(130, 130, 130, 0.859);
                    }
                    &.liked {
                        border-bottom: 2px solid rgba(45, 98, 154, 0.859);
                    }
                    .liked {
                        color: rgba(45, 98, 154, 0.859); 
                        svg {
                            fill: rgba(45, 98, 154, 0.859); 
                        }
                    }
                }
            }

            .video {
                width: 100%;
                // height: 
            }
            .video-info-container {
                height: 4rem;
                padding-top: 0.5rem;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
                border-bottom: 0.1px solid rgba(211, 211, 211, 0.859);
            }
            .video-title {
                font-size: 1rem;
                font-weight: 400;
                font-stretch: extra-expanded;
            }
            .video-stats {
                padding-top: 1rem;
                grid-row: 2;
                grid-column: 1;
                font-size: 0.8rem;
            }
        }

    }
}
.video-description-container {
    padding-top: 1rem;
    display: flex;
    height: 8rem;
    border-bottom: 0.1px solid rgba(211, 211, 211, 0.859);
}

.vid-show-prof-info {
    padding-top: 0.5rem;
    padding-left: 1rem;

    .video-uploader {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .vid-desc {
        padding-top: 1.5rem;
        font-size: 0.75rem;
        font-weight: 300;
    }
}
