.video-index-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 27% 27% 27% 27%;
    grid-template-rows: 35% 35% 35%;
    padding: 2rem;
}

.video-index-item {
    // justify-self: center;
    // align-self: center;
}