.video-index-item {
    width: 100%;
    // height: 10rem;
    .thumbnail {
        height: auto;
        width: 100%;
        img {
            display: block;
            width: 90%;
            height: auto;
        }
    }
    p {
        font-weight: bold;
        font-size: 1rem;
    }
    span {
        font-size: 0.75rem;
        padding-bottom: 1rem;
        &.index-username {
            padding-bottom: 0;
        }
    }
    .vid-index-info {
        height: 6rem;
        width: 100%;
        display: flex;
    }
    .vid-index-text {
        height: 100%;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
}
.vid-index-prof {
    margin-top: 0.3rem;
    width: 30px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    cursor: pointer;
    color: white;
    height: 30px;
}