.video-index-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    // grid-template-rows: 35% 35% 35%;
    padding: 2.5rem;
}

.video-index-item {
    // justify-self: center;
    // align-self: center;
}